@{
    ViewBag.Title = "About";
}

@{
    ViewBag.Title = "About";
}
<div class="tbody" alt="Snow" style="width:100%;">
    <img class="imgbc" src="~/Images/bc2.jpg" />
    <h1 class="t1">About<br />Aloha Blogs</h1>
</div>
<div class="mbody">
    <div class="mtitle">
        <h1>Who We Are</h1>
    </div>
    <div class="mtext">
        <p>
            Our journey starts at 2019 . With the enthusiasm towards fashion and lifestyle we created this website.
            Here people can read and learn about fashion.<br>
            We have teamed up with 3 fellow Bangladeshi artigiani or craftsmen, all very eager to showcase their artisanal heritage and quintessential designs.
            From hand-hemmed tips to hand-stitched shoulders, our artisans write all kinds of fashion and accessories according to the highest quality standards to create hard-wearing everyday pieces for a timeless casual elegance.<br>

            To make this happen, we provide them with the canvas to turn into their next creation. We travel around Bangladesh, visiting mills and merchants to find the best fabrics and yarns, making sure they are natural, colourful and responsibly sourced.


        <p>
    </div>
</div>


@section Scripts
{
    <link href="~/Style/aboutStyle.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

}
